@font-face {
    font-family: "TitleFont";
    src: url('./fonts/Monopoly\ Regular.ttf');
}
@font-face {
    font-family: "coolName";
    src: url('./fonts/YulongItalic-V4ER0.ttf');
}
@font-face {
    font-family: "childFont";
    src: url('./fonts/Child\ Marker.otf');
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: aquamarine;
    margin: 0;
}
button
{
    font-size: 1rem;
    padding: 0.3rem;
    background-color: rgb(255, 255, 141);
    border-radius: 3px;
    border: 3px solid rgb(255, 209, 123);
    text-align: center;
    font-family: childFont, sans-serif;
}
h1
{
    font-family: TitleFont, sans-serif;
}
input:disabled
{
    background-color: lightyellow;
    color: black;
    border: 1px solid orange;
    opacity: 1;
}

.inputBox
{
    border: 1px solid black; 
    padding: 0.6rem;
    padding-left: 10px;
    border-radius: 3px;
    height: 2.6dvh;
    vertical-align: middle;
}
.navBar
{
    background-color: aqua;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    display: flex;
    justify-content: center;
    padding: min(10px, 8%);
}
.navItem
{
    color: black;
    padding: min(10px, 8%) min(20px, 8%);
    cursor: pointer;
}
.headerLabel
{
    font-size: 1.5rem;
    font-family: TitleFont, sans-serif;
    font-weight: bold;
}
.changeNameLine
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.player-namejs
{
    font-family: coolName, sans-serif;
    font-weight: lighter;
    font-size: 1.5625rem;
    background-color: wheat;
    padding: min(2px, 8%) 10px min(2px, 8%) 5px;
    margin-left: 10px;
}
.canvasContainer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.sectionTitle
{
    font-family: TitleFont, sans-serif;
    text-align: center;
    margin: 15px;
    margin-bottom: -20px;
    font-size: 2.5rem;
    -webkit-text-stroke: 0.5px red;
    color: brown;
}
.RoomNav
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;              
    flex-wrap: wrap;        
    width: 50rem;
    margin: 2rem auto 1rem auto;
    border: 1px solid blue;
    background-color: aqua;
    padding: 1rem;
}
.roomHeader, .roomRow
{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #aaa;
}
.roomListCol
{
    padding: 8px;
}
.roomName {
    width: 33%;
    text-align: left;
}
.playerCount {
    width: 33%;
    text-align: center;
}
.status {
    width: 33%;
    text-align: right;
}
.roomRowFont
{
    font-family: childFont, sans-serif;
}
.roomHeaderFont
{
    font-family: TitleFont, sans-serif;
    font-weight: bold;
    color: brown;
}
.roomLabelFont
{
    font-family: TitleFont, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
.roomInput
{
    margin-left: 0.4rem;
    margin-right: 1.5rem;
}

#roomListbox
{
    display: block;
    width: 50rem;
    height: 20rem;
    border: 1px solid blue;
    margin: 1.5rem auto 0 auto;
    padding: 1rem;
    background-color: lightgoldenrodyellow;
    overflow-y: auto;  
}
.inputBox
{
    border: 1px solid black; 
    padding: 0.6rem;
    padding-left: 10px;
    border-radius: 3px;
    height: 2.6dvh;
    vertical-align: middle;
}
#titleh1
{
    margin-bottom: 0;
    font-size: 3.5rem;
    line-height: 4rem;
    height: 8dvh;
    text-align: center;
    background-color: red;
    color: white;
    font-family: TitleFont, sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
}
#changeName
{
    border: 1px solid black; 
    padding: 0.6rem;
    padding-left: 10px;
    border-radius: 3px;
    height: 2.6dvh;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 4px;
}
#waitingRoomCanvas
{
    width: min(100%, 1000px);
    height: min(100%, 700px);
    display: block;
    border: 5px solid black;
}
#gameBoardCanvas
{
    width: min(100%, 1000px);
    height: min(100%, 1000px)    ;
    display: block;
    border: 5px solid black;
}

@media (max-width: 600px) and (orientation: portrait)
{
    #wrapHeader
    {
        width: 200%;
    }
    #wrapMain
    {
        width: 200%;
    }
}

@media (max-width: 600px) and (orientation: landscape)
{
    #wrapHeader
    {
        width: 200%;

    }
    #wrapMain
    {
        width: 200%;
    }
}
